#contact {
    width: 100%;
    padding:7rem 0 7rem 0;
    background-color: #fff;
}

#contact-title{
    margin: auto;
    max-width:60rem;
}

#contact-icons{
    display: flex;
    margin: auto;
    gap:8rem;
    max-width: 60rem;
    margin-top: 6rem;
}

.icon-box{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.lower-icon{
    width:4rem;
    height:4rem;
    margin:0;
}

.icon-box span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #147efb;
    height: 5rem;
    width: 5rem;
}