#about {
    background-color: #fff;
}

.container{
    width: 1000px;
    height: 600px;
    margin:auto;
    padding:130px 0 130px 0;
    display:flex;
    justify-content: space-between;
}

#laptop{
    background-image: url("/laptop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px 25px 30px 25px / 30px 25px 30px 25px;
    height: 345px;
    width: 400px;
}

#description{
    width:500px;
    height: 345px;
}

#description p{
    line-height: 1.5rem;
}