#about {
    background-color: #fff;
}

.container{
    width: 1000px;
    height: 600px;
    margin:auto;
    padding:150px 0 150px 0;
    display:flex;
    justify-content: space-between;
}

#laptop{
    background-image: url("/laptop.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
    height:286px;
    width:400px;
}

#description{
    width:500px;
    height: 286px;
}

