/*# # # # # # # # GENERAL CSS # # # # # # # # */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:100vw;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Poppins', sans-serif;
}

p {
  color: #555;
  font-size:2.5em;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 6em;
}

h3 {
  font-size: 4em;
  color: #147efb;
  /* padding:2em 1em 1em 1em; */
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h4 {
  color: #2d2e32;
  font-size: 2em;
  line-height: 1.1;
  padding:0em 2em 0em 2em;
  margin-bottom: 2em;
}

h5 {
  color: #2d2e32;
  font-size: 1em;
  line-height: 1.1;
  padding:0em 0em 0em 1em;
  margin-bottom: .25rem;
}

@keyframes blob {

  0% {
    border-radius: 58% 20% 30% 48% / 14% 41% 12% 44%;
  }

  10% {
    border-radius: 44% 35% 26% 38% / 18% 31% 33% 38%;
  }

  20% {
    border-radius: 26% 44% 14% 51% / 43% 15% 48% 25%;
  }

  30% {
    border-radius: 11% 44% 26% 37% / 50% 8% 32% 20%;
  }

  40% {
    border-radius: 29% 44% 41% 52% / 36% 26% 32% 32%;
  }

  50% {
    border-radius: 18% 27% 24% 29% / 19% 13% 20% 14%;
  }

  60% {
    border-radius: 39% 42% 39% 55% / 40% 13% 49% 14%;
  }

  70% {
    border-radius: 29% 36% 37% 43% / 22% 43% 29% 33%;
  }

  80% {
    border-radius: 61% 36% 37% 61% / 31% 65% 29% 56%;
  }

  90% {
    border-radius: 61% 36% 14% 11% / 31% 30% 29% 56%;
  }

  100% {
    border-radius: 58% 20% 30% 48% / 14% 41% 12% 44%;
  }
}

@keyframes scale-up {
  100% {
    scale: 1.2
  }
}

@keyframes scale-down {
  100% {
    scale: 1;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* Tech Stack effects */

.ts:hover {
  animation: scale-up .2s forwards;
}

/* Project Button effects */

.btn:hover,
.btn text:hover {
  animation: scale-up .1s forwards;
  color: #147efb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/*# # # # # # # # NAV # # # # # # # # */

#nav {
  width: 100vw;
  min-height: 75px;
  height: 5vh;
  padding: 0 3em 0 3em;
  position: sticky;
  top: 0;
  box-shadow: 0 0 2em rgba(0, 0, 0, .09);
  background-color: #fff;
  z-index: 100;
}

#nav h3 {
  display: none;
}

/*# # # # # # # # HOME # # # # # # # # */

#home h1,
a {
  color: #2d2e32;
  text-decoration: none;
}

#home {
  background-color: #f9f9f9;
  gap:2ch;
}

#greeting-img {
  border: .4em solid #2d2e32;
  animation: 15s blob infinite;
  background-image: url("/tyler.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90vw;
  height: 90vw;
}

#greeting-text {
  text-align: center;
  max-width: 90vw;
}

#greeting-text h1 {
  font-size: 4em;
  font-weight: 800;
  line-height: 1em;
  padding: .8em .8em 0em .8em !important;
}

.btn-container {
  flex-direction: row;
  padding: .5em 0em .5em 0em;
  gap: .5em;
}

.icon {
  height: 3em;
  width: 3em;
}

.tech-stack-header {
  display: none;
}

/*# # # # # # # # ABOUT # # # # # # # # */

#about{
  background-color: #fff;
  height:130vh;
}

#about div{
  padding: 2em;
}

#laptop {
  align-items:flex-end;
  background-image: url("/laptop2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin:3em 0em 3em 0em;
  width: 90vw;
  height: 90vw;
}

#about-txt{
  width: 90vw;
}

#about-txt h4{
  padding-bottom:.25em;
}

#web-dev{
  animation: 10s rotate linear infinite;
  width: 13em;
  height:13em;
}

/*# # # # # # # # PROJECTS # # # # # # # # */

#projects{
  background-color: #f9f9f9;
  padding-top:10em;
}

.project h5{
  font-size:3em;
  padding-left:0ch;
}

.project p{
  font-size: 1.75em;
}

.project{
  background-color: #fff;
  width:90vw;
  padding:2em;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: .75em .75em .75em .75em rgb(175, 175, 175);
}

.project-img{
  background-image: url("/public/tyler.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15%;
  width: 80vw;
  height: 80vw;
}

/*# # # # # # # # Contact # # # # # # # # */

#contact{
  padding: 5em 0em 5em 0em;
}

#contact-title h3{
  padding-left:1em;
}

#contact-title h4{
  padding-left: 2em
}

#contact-icons{
flex-direction: row;
justify-content: space-around;
width:100vw
}

.icon-box{
  min-width: 45vw;
}

.icon-box p{
  font-size:1.75em;
}

.icon {
width:10ch;
height:10ch;
}