* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}


#home h1,
a {
  color: #2d2e32;
  text-decoration: none;
}

p {
  color: #555;
}